search-bench/data
search-bench/*.json
search-bench/*.txt
/test-jar/tmp
/target
/bench/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*/*/.lein-*
*/.lein-*
/.lein-*
/.nrepl-port
/.repl*
web/out
web/*.js
release-js/npm-*
web/target-cljs
.idea
*.iml
.vscode
.cpcache
dev/playground.clj
.DS_Store
TODO.txt
.cljs_node_repl
node_modules
package-lock.json
reading
/lib/
/native/*/classes/
/native/target/
/native/.lein-*
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/codox
.clj-kondo/
*.o
*.a
native/*.zip
native/dtlv
native/dtlv-test*
native/test-jar/jar-test
*/reports/
*/*/reports/
*.build_artifacts.txt

.lsp/.cache
.portal
output.calva-repl
