dtlv
dtlv-test0
dtlv-test1
test-jar/test-jar
benchmarks/JOB-bench/db/data.mdb
.classpath
.dir-locals.el
.project
.settings/
*/JOB-bench/data/*.csv
*/JOB-bench/*.dat
*/JOB-bench/*.out
*/JOB-bench/*.json
*/math-bench/*.json
*/search-bench/data
*/search-bench/*.json
*/search-bench/*.txt
*/search-bench/target
/test-jar/tmp
/test-jar/target
/target
/bench/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*/*/.lein-*
*/.lein-*
/.lein-*
/.nrepl-port
/.repl*
web/out
web/*.js
release-js/npm-*
web/target-cljs
.idea
*.iml
.vscode
.cpcache
dev/playground.clj
.DS_Store
TODO.txt
.cljs_node_repl
node_modules
package-lock.json
reading
/lib/
/native/*/classes/
/native/target/
/native/.lein-*
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/codox
.clj-kondo/
*.o
*.a
native/*.zip
native/dtlv
native/dtlv-test*
native/test-jar/jar-test
*/reports/
*/*/reports/
*.build_artifacts.txt

.lsp/.cache
.portal
output.calva-repl
