{
 :deps {
        org.clojure/clojure   {:mvn/version "1.10.3"}
        org.lmdbjava/lmdbjava {:mvn/version "0.8.1"}
        com.taoensso/nippy    {:mvn/version "3.1.1"} 
        persistent-sorted-set/persistent-sorted-set {:mvn/version "0.1.2"}
        org.graalvm.nativeimage/svm {:mvn/version "21.0.0.2"}
        
        }

 :aliases {
           :1.9 {
                 :override-deps {
                                 org.clojure/clojure {:mvn/version "1.9.0"}
                                 }
                 }

           :1.10 {
                  :override-deps {
                                  org.clojure/clojure {:mvn/version "1.10.0"}
                                  }
                  }

           :dev {
                 :extra-paths ["dev" "target/classes"]
                 :extra-deps  {
                               org.clojure/tools.namespace {:mvn/version "0.2.11"}
                               }
                 }

           :test {
                  :extra-paths ["test"]
                  :extra-deps  {
                                }
                  }

           :repl {
                  :extra-deps {
                               cider/cider-nrepl           {:mvn/version "0.21.1"}
                               nrepl/nrepl                 {:mvn/version "0.6.0"}
                               org.clojure/tools.namespace {:mvn/version "0.2.11"}
                               }
                  :main-opts  [
                               "-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"
                               ]
                  }

           :datomic {
                     :extra-deps {
                                  com.datomic/datomic-free {:mvn/version "0.9.5697"}
                                  }
                     }
           }
 }
