{:paths ["src" "target/classes"]
 :deps  {
         org.clojure/clojure                           {:mvn/version "1.12.0"}
         babashka/babashka.pods                        {:mvn/version "0.2.0"}
         com.cognitect/transit-clj                     {:mvn/version "1.0.333"}
         com.taoensso/nippy                            {:mvn/version "3.4.2"}
         com.taoensso/timbre                           {:mvn/version "6.5.0"}
         me.lemire.integercompression/JavaFastPFOR     {:mvn/version "0.1.12"}
         metosin/jsonista                              {:mvn/version "0.3.13"}
         nrepl/bencode                                 {:mvn/version "1.2.0"}
         org.babashka/sci                              {:mvn/version "0.9.44"}
         org.clojure/tools.cli                         {:mvn/version "1.1.230"}
         io.github.tonsky/clojure-plus                 {:mvn/version "1.2.0"}
         org.clojars.huahaiy/dtlvnative-macosx-arm64   {:mvn/version "0.12.8"}
         org.clojars.huahaiy/dtlvnative-macosx-x86_64  {:mvn/version "0.12.8"}
         org.clojars.huahaiy/dtlvnative-linux-arm64    {:mvn/version "0.12.8"}
         org.clojars.huahaiy/dtlvnative-linux-x86_64   {:mvn/version "0.12.8"}
         org.clojars.huahaiy/dtlvnative-windows-x86_64 {:mvn/version "0.12.8"}
         org.eclipse.collections/eclipse-collections   {:mvn/version "11.1.0"}
         org.roaringbitmap/RoaringBitmap               {:mvn/version "1.3.0"}
         }

 :deps/prep-lib {:alias  :build
                 :fn     compile-java
                 :ensure "target/classes"}

 :aliases {
           :dev {
                 :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                            "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                            "-Dclojure.compiler.direct-linking=true"]
                 }

           :pod   {
                   :jvm-opts   ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                                "-Dclojure.compiler.direct-linking=true"]
                   :main-opts  ["-m" "pod.huahaiy.datalevin"]
                   :ns-default pod.huahaiy.datalevin
                   :exec-fn    run}
           :test  {
                   :extra-paths ["test"]
                   :jvm-opts    ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                 "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                                 "-Dclojure.compiler.direct-linking=true"]
                   }
           :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
                   :ns-default build}}}
