{
 ;; :paths ["src" "../src" "../target/classes"]
 :paths ["src"]
 :deps  {
         com.cognitect/transit-clj                   {:mvn/version "1.0.329"}
         com.fasterxml.jackson.core/jackson-core     {:mvn/version "2.13.2"}
         com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.13.2"}
         com.taoensso/nippy                          {:mvn/version "3.2.0"}
         ;; datalevin/datalevin                         {:local/root ".."}
         datalevin/datalevin                         {:mvn/version "0.8.11"}
         me.lemire.integercompression/JavaFastPFOR   {:mvn/version "0.1.12"}
         org.clojure/clojure                         {:mvn/version "1.11.1"}
         org.lmdbjava/lmdbjava                       {:mvn/version "0.8.2"}
         org.roaringbitmap/RoaringBitmap             {:mvn/version "0.9.38"}
         org.eclipse.collections/eclipse-collections {:mvn/version "11.1.0"}
         org.apache.lucene/lucene-core               {:mvn/version "8.10.1"}
         org.apache.lucene/lucene-analyzers-common   {:mvn/version "8.10.1"}
         org.apache.lucene/lucene-queryparser        {:mvn/version "8.10.1"}
         org.apache.lucene/lucene-queries            {:mvn/version "8.10.1"}
         org.apache.lucene/lucene-highlighter        {:mvn/version "8.10.1"}
         org.apache.lucene/lucene-codecs             {:mvn/version "8.10.1"}
         }

 :aliases {
           :datalevin {
                       :exec-fn  datalevin.bench/-main
                       :jvm-opts ["--add-opens" "java.base/java.nio=ALL-UNNAMED"
                                  "--add-opens" "java.base/sun.nio.ch=ALL-UNNAMED"
                                  "-Dclojure.compiler.direct-linking=true"
                                  "-Xmx24G"
                                  "-Xms24G"]
                       }
           :lucene    {
                       :exec-fn  lucene.bench/-main
                       :jvm-opts ["-Dclojure.compiler.direct-linking=true"
                                  "-Xmx24G"
                                  "-Xms24G"]
                       }
           :dev       {
                       :extra-paths ["dev" "target/classes"]
                       }

           :test {
                  :extra-paths ["test"]
                  :extra-deps  {
                                }
                  }
           }
 }
