{:paths   ["src"]
 :deps    {datalevin/datalevin
           #_                                            {:git/tag "0.6.21"
                                                          :git/sha "41d1915eb67b1606aab4807058ff24bb41fdb8e8"}
           {:mvn/version "0.9.22"}
           ;; {:local/root "../.."}
           com.cognitect/transit-clj                     {:mvn/version "1.0.333"}
           com.taoensso/nippy                            {:mvn/version "3.6.0"}
           me.lemire.integercompression/JavaFastPFOR     {:mvn/version "0.3.10"}
           org.clojars.huahaiy/dtlvnative-macosx-arm64   {:mvn/version "0.15.6"}
           org.clojars.huahaiy/dtlvnative-linux-arm64    {:mvn/version "0.15.6"}
           org.clojars.huahaiy/dtlvnative-linux-x86_64   {:mvn/version "0.15.6"}
           org.clojars.huahaiy/dtlvnative-windows-x86_64 {:mvn/version "0.15.6"}
           org.roaringbitmap/RoaringBitmap               {:mvn/version "1.3.0"}
           org.eclipse.collections/eclipse-collections   {:mvn/version "13.0.0"}
           }
 :aliases {:dev {:jvm-opts ["--enable-native-access=ALL-UNNAMED"
                            "--add-opens=java.base/java.nio=ALL-UNNAMED"
                            "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}}}
