{:paths ["src"]
 :deps {datalevin/datalevin #_{:git/tag "0.6.21"
                                       :git/sha "41d1915eb67b1606aab4807058ff24bb41fdb8e8"}
        #_{:local/root "../.."}
        {:mvn/version "0.8.16"}
        com.cognitect/transit-clj {:mvn/version "1.0.329"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {com.google.guava/guava-testlib {:mvn/version "31.1-jre"}
                              com.rpl/proxy-plus {:mvn/version "0.0.9"}
                              com.amperity/dialog {:mvn/version "2.0.115"}
                              org.clojure/tools.logging {:mvn/version "1.2.4"}}
                 :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                            "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.google.guava/guava-testlib {:mvn/version "31.1-jre"}
                               com.rpl/proxy-plus {:mvn/version "0.0.9"}
                               com.amperity/dialog {:mvn/version "2.0.115"}
                               org.clojure/tools.logging {:mvn/version "1.2.4"}
                               ;; allow us to run junit tests.
                               ;; https://github.com/junit-team/junit5-samples/blob/main/junit5-migration-gradle/README.md
                               ;;    org.junit.jupiter/junit-jupiter {:mvn/version "5.9.3"}
                               ;; guave testlib uses junit3 style of tests
                               ;;    org.junit.vintage/junit-vintage-engine {:mvn/version "5.9.3"}
                               junit/junit {:mvn/version "4.13.2"}}
                  :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                             "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}}}