{:deps  {io.github.borkdude/gh-release-artifact
         {:git/sha "05f8d8659e6805d513c59447ff41dc8497878462"}}
 :tasks {:requires ([borkdude.gh-release-artifact :as ghr])
         release-artifact
         (ghr/release-artifact
           {:org       "datalevin"
            :repo      "datalevin"
            :tag       (System/getenv "DTLV_TAG")
            :file      (System/getenv "DTLV_ARCHIVE")
            :overwrite true})
         }}
