{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Installation" {:file "doc/install.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]
  ["Command Line Tool" {:file "doc/dtlv.md"}]
  ["Database Upgrade" {:file "doc/upgrade.md"}]
  ["Transaction" {:file "doc/transact.md"}]
  ["Server/Client" {:file "doc/server.md"}]
  ["Query Engine" {:file "doc/query.md"}]
  ["Search Engine" {:file "doc/search.md"}]]}
