{:paths   ["src"]
 :deps
 {org.clojure/clojure                  {:mvn/version "1.12.4"}
  com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}
  datalevin/datalevin                  {:local/root "../target/datalevin-0.10.5.jar"}}
 :aliases {:build
           {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.6"}}
            :ns-default build}}}
