{:aliases {:uberjar
           {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.297"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:aot true
                           :compile-ns [test-jar.core]
                           :main-class "test-jar.core" }}}
 :deps    {org.clojure/clojure {:mvn/version "1.10.3"}
           org.clojars.huahaiy/datalevin-native
           {:local/root "./../target/datalevin-native-0.5.26.jar"} 
           }}
